{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
  <p class="lead">Battle for truth. Give your support as per your wish.</p>

  <img src="{% static 'images/iamge.webp' %}" class="img-fluid" alt="DjangoX logo"/>
  
  <div class="row mt-3">
    <div class="col-md-6">
      
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
  

  <div class="row">
    <div class="col-md-6">
      <h1>{{vivek_votes}}</h1>
      <h4>Dr. Vivek Bindra</h4>
      {{vote_for}}
      {% if user.is_authenticated %}
      {% if voted_for.vote_for == 'vivek' %}
      <p>You have already voted for vivek</p>
      {%else%}
      <a href="{% url 'pages:vote' 'vivek'  %}"><button class="btn btn-block btn-primary">Vote</button></a>
      {% endif %}
      
      {% endif %}
    </div>
    <div class="col-md-6">
      <h1>{{sandeep_votes}}</h1>
      <h4>Sandeep Maheshwari</h4>
      {% if user.is_authenticated %}
      {% if voted_for.vote_for == 'sandeep' %}
      <p>You have already voted for Sandeep</p>
      {%else%}
      
      <a href="{% url 'pages:vote' 'sandeep' %}"><button class="btn btn-block btn-primary">Vote</button></a>
      {% endif %}
      
      {% endif %}
    </div>

    <div class="col-md-12 mt-3">
      {% if not user.is_authenticated %}
      <div class="alert alert-info" role="alert">
        Login or Signup to vote!
      </div>
      {% endif %}
    </div>
  </div>  

</div>
{% endblock content %}
